<div class="action-area row">
  <div class="merchant window col-md-5">
    <div items 
        inventory="merchant.inventory"
        current="info.current"
        preview="itemPreview"></div>

    <div class="controls pane">
      <button type="button" 
              class="btn btn-default"
              ng-click="exchangeItem(merchant.inventory, player.inventory)">Buy</button>

      <button type="button" class="btn btn-default">Close</button>
    </div>
  </div>

  <div class="inventory window col-md-5 col-md-offset-1">
    <div items 
          inventory="player.inventory"
          current="info.current"
          preview="itemPreview"></div>

    <div class="controls pane">
      <button type="button" 
              class="btn btn-default"
              ng-click="exchangeItem(player.inventory, merchant.inventory)">Sell</button>

      <button type="button" class="btn btn-default">Close</button>
    </div>
  </div>

</div> <!-- // .action-area -->

<div class="row">
  <div storyboard current="info.current"></div>
</div>

<div itempreview item="itemPreview" class="item-preview"></div>

<div class="clearfix"></div>